@mixin opacacity($boolean) {
  filter: grayscale(100%) opacity(0.7);

  @if ($boolean == 100) {
    filter: grayscale(0%) opacity(0.1);
    transition: ease-out 0.2s all;
  }
}

@mixin clean($py: 0, $px: 0, $my: 0, $mx: 0) {
  padding: $py $px;
  margin: $my $mx;
}
