@mixin opacacity($boolean: 101) {
  @if $boolean > 100 {
    filter: grayscale(100%) opacity(0.7);

    transition: ease-out 0.2s all;
  } @else {
    filter: grayscale(0%) opacity(1);
  }
}

@mixin clean($py: 0, $px: 0, $my: 0, $mx: 0) {
  padding: $py $px;
  margin: $my $mx;
}
