@use "./extend.scss";
@use "./var.scss" as v;
@use "./mixins.scss" as mixin;

.header {
  position: sticky;
  top: 0;
  background-color: v.$theme-nav-background;

  .nav {
    @extend %flex;
    width: 95%;
    border-bottom: 2px solid v.$theme-primary;

    &__section {
      @extend %flex;

      &:nth-child(1) {
        @extend %flex;
        width: 30%;
      }
      &:nth-child(2) {
        @extend %flex;
        justify-content: end;
        width: 70%;
      }

      li:nth-child(1) {
        display: block;
      }

      li {
        display: none;

        a {
          color: v.$theme-secondary;
          @include mixin.opacacity;
        }

        & .active {
          filter: grayscale(0%) opacity(1);
        }
      }
    }

    &__button--menu {
      @extend %flex;
      flex-direction: column;
      text-decoration: none;
      background: transparent;
      border: none;
      color: v.$theme-secondary;
      width: 36%;
      div {
        @extend %flex;
        flex-direction: column;
        width: 35px;
        height: 70%;
        gap: v.$min;
        &::before {
          content: "";
          @extend %menu_navbar;
        }
        span {
          @extend %menu_navbar;
        }
        &::after {
          content: "";
          @extend %menu_navbar;
          margin-bottom: v.$min;
        }
      }

      & .active {
        span {
          opacity: 0;
        }
        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }
    }

    &__ul {
      @extend %flex;
      justify-content: end;
      list-style: none;
      width: 100%;
      padding: 1em 0;
      margin: 0;
    }
  }

  .burger {
    position: absolute;
    background-color: v.$theme-nav-background;

    width: 70vw;
    &.desactive {
      height: 0;
      .burger__ul {
        border-bottom: 0;
      }
      .burger__a {
        visibility: hidden;
      }
    }
    &.active {
      height: 40vh;
      .burger__a {
        visibility: visible;
      }
      transition: ease 0.5s all;
    }

    &__ul {
      @extend %flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;
      padding: 0;
      margin: 0;
      height: 95%;
      border-bottom: 1px solid v.$theme-primary;
      border-right: 1px solid v.$theme-primary;
      border-left: 1px solid v.$theme-primary;

      li {
        display: flex;
        justify-content: start;
        padding-left: v.$hug;
        margin: auto 0;
        width: 100%;

        a {
          @extend %flex;
          justify-content: start;
          width: 100%;
          align-items: center;
          color: v.$theme-secondary;
          text-decoration: none;

          @include mixin.opacacity;
          &.active {
            filter: grayscale(0%) opacity(1);
          }
          h4 {
            padding: 0;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@media (min-width: 760px) {
  .nav__section {
    &:nth-child(2) {
      ul {
        display: flex;
        align-content: end;
        justify-content: space-evenly;
        .icon_show {
          display: block;
        }
      }
    }
  }
  .header__nav--burger {
    .burger__li {
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        display: none;
      }
    }
  }
}
@media (min-width: 1080px) {
  .nav__section {
    &:nth-child(2) {
      ul {
        display: flex;
        align-content: end;
        justify-content: space-evenly;
        li {
          display: block;
        }
      }
    }
  }

  .nav__button--menu {
    visibility: hidden;
  }

  .burger {
    display: none;
  }
}
