@use "../tools/extend.scss";
@use "../tools/mixins.scss" as m;
@use "../tools/var.scss" as v;
.Header {
  position: sticky;
  top: 0;
  @include m.clean(0.5em, 0.5em);
}

.navbar {
  @extend %flex;
  width: 90vw;
  @include m.clean(0.5em, 0);

  border-bottom: 1px solid v.$theme-primary;

  /* Section navbar */
  &__section {
    /* Section menu button */
    &:nth-child(1) {
      @extend %flex;
      width: 20%;
      /* Button navbar */
      button {
        @extend %flex;
        flex-direction: column;
        text-decoration: none;
        background: transparent;
        border: none;
        color: v.$theme-secondary;
        width: max-content;
        div {
          @extend %flex;
          flex-direction: column;
          width: 35px;
          height: 70%;
          gap: v.$min;
          &::before {
            content: "";
            @extend %menu_navbar;
          }
          span {
            @extend %menu_navbar;
          }
          &::after {
            content: "";
            @extend %menu_navbar;
          }
        }
        .show {
          &::before {
            transform: rotate(45deg);
          }
          span {
            opacity: 0;
          }
          &::after {
            transform: rotate(-45deg);
          }
        }
      }
    }
    /* Section navegation */
    &:nth-child(2) {
      width: 80%;
      ul {
        @extend %flex;
        @include m.clean();
        list-style: none;
        justify-content: space-around;
        /* Link Buttons */
        li {
          a {
            @include m.opacacity();
            width: max-content;
            text-decoration: none;
            color: v.$theme-secondary;
          }
          .active {
            @include m.opacacity(99);
          }
          h4 {
            @include m.clean();
          }
        }
      }
    }
  }
}

.navres {
  width: 45vw;
  section {
    ul {
      @include m.clean();
      list-style: none;
      border: 1px solid v.$theme-primary;
      border-top: 0;

      li {
        a {
          display: flex;
          margin: auto;

          h4 {
            @include m.clean();
          }
        }
      }
    }
  }
}
