@use "../tools/var.scss" as v;
@use "../tools/extend.scss";
.Main {
  color: v.$theme-color;
  @extend %flex;
  min-height: 100vh;

  /* Settings */
  &__settings {
    @extend %flex;
    // height: ;
    width: 70vw;
    // width: auto;
    flex-direction: column;
  }

  &__form {
    @extend %flex;
    flex-direction: column;
    width: 90%;
  }

  &__div {
    @extend %flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
    width: 100%;
    margin-bottom: 1.5em;
  }

  &__input {
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid v.$theme-primary;
    outline: none;
    color: aliceblue;
  }

  &__span {
    font-size: 14px;
    color: red;
  }

  &__button {
    border: 0;
    width: 100%;
    padding: 0.5em;
    border-radius: 24px;
    background-color: v.$theme-secondary;
    border-bottom: 1px solid v.$theme-primary;
  }

  &__a {
    text-decoration: none;
    color: black;
  }

  &__settings--home {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;

    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
    gap: 0;

    padding-top: 8rem;

    article {
      @extend %flex;
      // justify-content:;
      width: 100%;
      height: 100%;
      padding: 1em;
      border-radius: 24px;

      div {
        h3 {
          margin: 0;
          padding: 0 0.5em;
        }
        &:nth-child(1) {
          @extend %flex;
          flex-direction: column;
          button {
            border: 0;
            width: 100%;
            padding: 0.5em;
            border-radius: 8px;
            background: transparent;
            margin-top: 1em;
          }

          border: 1px solid;
          border-top-left-radius: 24px;
          border-bottom-left-radius: 24px;
          // border: 1px solid white;
          height: 70%;
        }

        &:nth-child(2) {
          @extend %flex;
          border: 1px solid;
          width: 60%;
          height: 70%;

          p {
            margin: 0;
            padding: 1em;
          }
        }
      }
      // object-fit: cover;
    }
  }

  &__GET {
    color: #27ae60;
    button {
      color: #27ae60;
      cursor: pointer;
    }
  }
  &__POST {
    color: orange;
    button {
      color: orange;
      cursor: pointer;
    }
  }
  &__UPDATE {
    color: yellow;
    button {
      color: yellow;
      cursor: pointer;
    }
  }
  &__DELETE {
    color: red;
    button {
      color: red;
      cursor: pointer;
    }
  }

  &__home {
    @extend %flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-left: 0.5em;
    height: 100vh;
    gap: 57px;
  }

  &__span--req {
    margin-top: 1em;
    padding: 0 0.5em;
  }

  &__slider {
    display: flex;
    overflow: scroll;
    aspect-ratio: 9/ 14;
    width: 340px;
    overflow-y: hidden;
    position: relative;
    scroll-snap-type: x mandatory;
    // margin-top: 60%;

    img {
      border-radius: 28px;
      margin-right: 2em;
      scroll-snap-align: center;
      // width: 300px;
      // height: 600px;
      object-fit: contain;
      left: 0;
    }
  }

  &__play {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    h2 {
      margin: 0;
    }
    // bottom: 0;

    a {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 12px;
      text-decoration: none;
      color: v.$theme-secondary;
      h2 {
        // font-size: larger;
        margin: 0;
        font-weight: bold;
      }
      svg {
        scale: 2;
      }
    }
  }
}
